.menu1 a, .menu2 a, .menu3 a, .menu4 a,.menu5 a, .Link7 a{
    text-decoration: none;
    color: black;
}
.accordion{
    background-color: black!important;
    padding-top: 25px!important;
    padding-bottom: 40px!important;
    border-bottom: 1px solid!important;
    padding-left: 0!important;
}
.accordion-title{
    color: #fff;
    font-size: 24px!important;
    line-height: 130%;
    font-weight: 400!important;
    letter-spacing: 0.3px;
    font-family: "IBM Plex Sans";
    margin-left: 3rem!important;
}
.accordion-text{
    font-size: 18px!important;
    line-height: 150%;
    color: #666!important;
    font-family: "IBM Plex Sans";
    background-color: black!important;
}
.TextBox7,.TextBox14,.TextBox32,.TextBox35,.TextBox58,.TextBox75,.TextBox77,.TextBox101,.TextBox104,.TextBox107{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.TextBox60{
    background-image: linear-gradient(108deg, #b16cea 14%, #ff5e69 57%, #ff8a56 81%, #ffa84b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Div7,.Div27{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}
.Image43{
    filter: grayscale(1);
}